.navbar{
    display: flex;
    justify-content: space-evenly;
    padding:20px 10px;
    background:green;
    position: sticky;
    top:10px;
    margin-bottom: 20px;
    z-index:4;
    align-items: center;
}
.navPills{
    color:white;
    text-decoration: none;
    font-weight:bold;
    font-size:20px;
}
.logout{
    background:white;
    padding:16px; 
    cursor:pointer; 
    font-weight:bold; 
    color:green; 
    border-radius:40px;
}
@media(max-width:600px){
    .navPills{
        font-size:12px;
    }
    .navbar>button{
        font-size:12px;
        padding:4px;
    }
}